.App {
  font-family: sans-serif;
  text-align: center;
  margin: 30px;
  border: solid green;
  border-width: 15px;
  padding: 30px;
  background-color: #E0FFFF;
}

.tacos > p {
  font-size: 15px;
}

.tacos > h4 {
  color: blue;
  margin: 50px 0px -5px 0px;
}

.tacos > h4 > span{
  color: red;
}

.title {
  color: #3CB371;
}
