.App {
  font-family: sans-serif;
  text-align: center;
}

.tacos {
}

.tacos > p {
  font-size: 15px;
}

.tacos > h4 {
  color: blue;
  /* text-align: left; */
}

.tacoName {
  text-decoration: underline;
  color: red;
}
/* shouldn't .tacoName be red since it is last on the sheet??*/
